.main {
    height: 100vh;
    background-color: var(--background);
    margin-left: 6%;

    label {
        font-weight: 700;
        font-size: 16px;
    }

    section {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        max-width: 100% !important;

        span {
            display: flex;
            align-items: center;
            height: 2vh;
            margin-top: 2%;
            margin-left: 1%;
            margin-bottom: 2%;


            img {
                margin-right: 1%;
            }

            p {
                font-weight: 400;
                font-size: 1rem;
                margin-right: 1%;
            }
        }

        .containerFrom {
            margin-left: 1%;
            display: flex;
            flex-direction: row !important;
            justify-content: space-between;
            height: auto;
            max-width: 100%;

            .containerRegistro {
                width: 63%;
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
        .boxFinalAnalysis {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 97.3%;
            height: 10%;
            gap: 1%;
            margin-left: 1%;
            margin-top: 1.3%;

            div {
                display: flex;
                flex-direction: column;

                label {
                    font-weight: 700;
                    font-size: 1rem;
                    margin-bottom: 6%;
                }
                
                input {
                    height: 5dvh;
                    padding: 5%;
                }
            }

            button {
                height: 5dvh;
                width: 12%;
                margin-top: 1.7%;
                font-weight: 700;
                font-size: 1rem;
                color: var(--background);
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5%;
            }

            .blueAnalise {
                background-color: var(--tertiary-dark-blue);
            }

            .redDelete {
                background-color: var(--primary-burgundy-red);
            }
        }
    }
}