.main {
    height: 100vh;
    background-color: var(--background);
    margin-left: 6%;

    label {
        font-weight: 700;
        font-size: 16px;
    }

    section {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        max-width: 100% !important;
    }
}