.boxDate {
    display: flex;
    margin-bottom: 1%;
    height: auto;
    width: 97%;

    div {
        display: flex;
        flex-direction: column;
        margin-right: 9%;

        .boxDateInfos {
            width: 140%;
        }
        
        .boxDespesa {
            width: 100%;
        }
        
        
        .boxCustos {
            width: 100%;
        }
        
        .date {
            width: 160%;
            height: 5dvh;
        }

        .despesa {
            width: 150%;
            height: 5dvh;
        }

        .custos {
            height: 5dvh;
            width: 171%;
        }
    }
}