.boxDate {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
    height: auto;
    width: 97%;

    .boxDateInfos {
        width: 2%;

        input[type="date"] {
            text-transform: uppercase;
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            background: transparent;
        }
    }

    .boxDespesa {
        width: 20%;
    }

    .boxCustos {
        width: 45%;
    }

    .box {
        display: flex;
        flex-direction: column;

        .date, .despesa, .custos {
            height: 5dvh;
        }
    }
}