.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    width: 100%;
    height: 100vh;

    .modalBody {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--background);
        height: 20%;
        width: 30%;

        .boxButtonModal {
            display: flex;
            color: var(--background);

            .btnCancel {
                background-color: var(--tertiary-dark-blue);
            }

            .btnConfirm {
                background-color: var(--primary-vibrant-turquoise-blue);
            }
        }
    }
}