.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    width: 100%;
    height: 100vh;

    .modalBody {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--background);
        height: 25%;
        width: 25%;
        padding: 3%;
        border-radius: 0.375rem;
        gap: 15%;

        p {
            font-size: 1.7rem;
            font-weight: 700;
            text-align: center;
            color: var(--secondary-medium-blue-gray);
        }

        .boxButtonModal {
            display: flex !important;
            flex-wrap: nowrap;
            gap: 4%;
            width: 100%;

            .btnCancel,
            .btnConfirm {
                border: none;
                border-radius: 0.375rem;
                cursor: pointer;
                font-size: 1rem;
                font-weight: 700;
                color: var(--background);
                height: 5dvh;
            }

            .btnCancel {
                background-color: var(--tertiary-dark-blue);
                width: 50%;
            }

            .btnConfirm {
                width: 35%;
                background-color: var(--primary-vibrant-turquoise-blue);
            }
        }
    }
}