header {
    width: 6vw;
    height: 100vh;
    background-color: var(--background);
    transition: width 0.3s ease;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

.expanded {
    width: 11.8vw;
    border: 0.5px var(--primary-light-blue-gray) solid;

    button {
        border: none;
    }

    
    img {
        align-self: center;
    }

    h3,
    p {
        visibility: visible;
        opacity: 1;
    }
}

.collapsed {
    width: 6vw;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 96%;
    padding: 1rem;
    
    .headerButton {
        cursor: pointer;
        background-color: var(--secondary-intense-blue);
        width: 2.5vw;
        height: 2.5vw;
        border: none;

        img {
            width: 0.9vw;
            height: 0.9vw;
        }

        &:hover {
            background-color: var(--tertiary-dark-blue);
        }
    }

    .container {
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        
        picture {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;

            p {
                color: var(--secondary-intense-blue);
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 60%;
            list-style: none;

            li {
                display: flex !important;
                align-items: center;
                
                button {
                    margin-right: 1rem;
                }
            }
        }
    }


    .logoutButton {
        background-color: var(--secondary-medium-blue-gray);
        cursor: pointer;
        width: 2.5vw;
        height: 2.5vw;
        border: none;

        img {
            width: 0.9vw;
            height: 0.9vw;
        }
    }
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}