@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

input {
    border: 0.05rem solid #CBD4E1;
}

input,
button {
    border-radius: 0.375rem;
}